# Build artifacts
bin/
obj/
*/bin/
*/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Build results
*.dll
*.exe
*.pdb
*.cache
*.log

# Others
*.vspscc
.vs/
